<!DOCTYPE html>
<html lang="en">
  <head>
    

  </head>
  <body>
    <header>
      <h1>ITTY BITTY URL</h1><br>
      <h3 >REGISTER:</h3><br>

        <form action="/register" method="POST"">
        <label for="email">E-MAIL:</label>
        <input id="email" type="email" name="email" placeholder="E-MAIL" style="width: 250px">
        <br><br>
        <form action="/register" method="POST"">
        <label for="password">PASSWORD:</label>
        <input id="password" type="password" name="password" placeholder="PASSWORD " style="width: 220px">
        <button type="submit" class="btn btn-secondary btn-sm" value="REGISTER">REGISTER</button>


    </header>
  </body>
  <br>
</html>